/* .product{
    padding:1% 8% !important; 
    box-shadow: 5px 10px;


}
.card :hover{
      transform: scale(1.01);
      cursor: pointer;
      box-shadow: 2px 2px 2px #000000;
} */


